<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>medico Plus - home</title>
  
  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Rubik:wght@400;500;700&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./assets/css/style.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./assets/images/hero-banner.png">
  <link rel="preload" as="image" href="./assets/images/hero-bg.png">

</head>

<body id="top">

  <!-- 
    - #PRELOADER
  -->

  <div class="preloader" data-preloader>
    <div class="circle"></div>
  </div>



  
 <!-- 
    - #HEADER
  -->

  <header class="header" data-header style="background-color: hsl(188, 22%, 14%);">
    <div class="container">

      <a href="./index.html" class="logo">
        <img src="./assets/images/Medicoplus_logo.png" width="136" height="46" alt="Medico Plus home">
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="#" class="logo">
            <img src="./assets/images/Medicoplus_logo.png" width="136" height="46" alt="Medico Plus home">
          </a>

          <button class="nav-close-btn" aria-label="clsoe menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="index.html" class="navbar-link title-md">Home</a>
          </li>

          <li class="navbar-item">
            <a href="doctors.html" class="navbar-link title-md">Doctors</a>
          </li>

          <li class="navbar-item">
            <a href="#section_article" class="navbar-link title-md">Articles</a>
          </li>

          <li class="navbar-item">
            <a href="#section_page" class="navbar-link title-md">Services</a>
          </li>



          <li class="navbar-item">
            <a href="./login.html" class="navbar-link title-md">Sign-in</a>
          </li>

        </ul>

        <ul class="social-list">

          <li>
            <a href="https://twitter.com" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.facebook.com" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://in.pinterest.com" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://instagram.com" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline"></ion-icon>
      </button>
      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>

  
<!--Doctors-->

<section class="section listing" aria-labelledby="listing-label" style="background-color: rgb(203, 236, 230)">
    <div class="container">

      <ul class="grid-list">

        <li>
          <p class="section-subtitle title-lg" id="listing-label" data-reveal="left">Doctors Listing</p>

          <h2 class="headline-md" data-reveal="left">Gynecology</h2>
        </li>

        <li>
          <div class="listing-card" data-reveal="bottom">

            <div class="card-icon">
              <img src="./assets/images/Male Doc.png" width="71" height="71" loading="lazy" alt="icon">
            </div>

            <div>
              <h3 class="headline-sm card-title">Benjamin</h3>

              <p class="card-text">Experience:3 years</p>
            </div>

          </div>
        </li>

        <li>
          <div class="listing-card" data-reveal="bottom">

            <div class="card-icon">
              <img src="./assets/images/Male Doc.png" width="71" height="71" loading="lazy" alt="icon">
            </div>

            <div>
              <h3 class="headline-sm card-title">Mattias</h3>

              <p class="card-text">Experience:4 years</p>
            </div>

          </div>
        </li>

        <li>
          <div class="listing-card" data-reveal="bottom">

            <div class="card-icon">
              <img src="./assets/images/Female Doc.png" width="71" height="71" loading="lazy" alt="icon">
            </div>

            <div>
              <h3 class="headline-sm card-title">Margot</h3>

              <p class="card-text">Experience:0 </p>
            </div>

          </div>
        </li>

        <li>
          <div class="listing-card" data-reveal="bottom">

            <div class="card-icon">
              <img src="./assets/images/Male Doc.png" width="71" height="71" loading="lazy" alt="icon">
            </div>

            <div>
              <h3 class="headline-sm card-title">George</h3>

              <p class="card-text">Experience: 3 years</p>
            </div>

          </div>
        </li>

        <li>
          <div class="listing-card" data-reveal="bottom">

            <div class="card-icon">
              <img src="./assets/images/Male Doc.png" width="71" height="71" loading="lazy" alt="icon">
            </div>

            <div>
              <h3 class="headline-sm card-title">Denver </h3>

              <p class="card-text">Experience: 6 years</p>
            </div>

          </div>
        </li>

        <li>
          <div class="listing-card" data-reveal="bottom">

            <div class="card-icon">
              <img src="./assets/images/Female Doc.png" width="71" height="71" loading="lazy" alt="icon">
            </div>

            <div>
              <h3 class="headline-sm card-title">Jesel</h3>

              <p class="card-text">Experience: 4 years</p>
            </div>

          </div>
        </li>

        <li>
            <div class="listing-card" data-reveal="bottom">
  
              <div class="card-icon">
                <img src="./assets/images/Male Doc.png" width="71" height="71" loading="lazy" alt="icon">
              </div>
  
              <div>
                <h3 class="headline-sm card-title">Joey Tribbiani </h3>
  
                <p class="card-text">Experience: 8 years</p>
              </div>
  
            </div>
          </li>

          <li>
            <div class="listing-card" data-reveal="bottom">
  
              <div class="card-icon">
                <img src="./assets/images/Male Doc.png" width="71" height="71" loading="lazy" alt="icon">
              </div>
  
              <div>
                <h3 class="headline-sm card-title">Ross Geller</h3>
  
                <p class="card-text">Experience: 2.5 years</p>
              </div>
  
            </div>
          </li>

          <li>
            <div class="listing-card" data-reveal="bottom">
  
              <div class="card-icon">
                <img src="./assets/images/Female Doc.png" width="71" height="71" loading="lazy" alt="icon">
              </div>
  
              <div>
                <h3 class="headline-sm card-title">Valarie </h3>
  
                <p class="card-text">Experience: 20 years</p>
              </div>
  
            </div>
          </li>

          <li>
            <div class="listing-card" data-reveal="bottom">
  
              <div class="card-icon">
                <img src="./assets/images/Female Doc.png" width="71" height="71" loading="lazy" alt="icon">
              </div>
  
              <div>
                <h3 class="headline-sm card-title">Carol bing</h3>
  
                <p class="card-text">Experience: 3.5 years</p>
              </div>
  
            </div>
          </li>

      </ul>

    </div>
  </section>




 <!-- 
    - #FOOTER
  -->

  <footer class="footer" style="background-image: url('./assets/images/footer-bg.png')">
    <div class="container">

      <div class="section footer-top">

        <div class="footer-brand" data-reveal="bottom">

          <a href="#" class="logo">
            <img src="./assets/images/Medicoplus_logo.png" width="136" height="46" loading="lazy" alt="Doclab home">
          </a>

          <ul class="contact-list has-after">

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="mail-open-outline"></ion-icon>
              </div>

              <div>
                <p>
                  Main Email : <a href="mailto:contact@medicoplus.com" class="contact-link">contact@medicoplus.com</a>
                </p>

                <p>
                  Inquiries : <a href="mailto:Info@medicoplus.com" class="contact-link">Info@medicoplus.com</a>
                </p>
              </div>

            </li>

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <div>
                <p>
                  Office Telephone : <a href="tel:0029129102320" class="contact-link">0029129102320</a>
                </p>

                <p>
                  Mobile : <a href="tel:000232439493" class="contact-link">000 2324 39493</a>
                </p>
              </div>

            </li>

          </ul>

        </div>

        <div class="footer-list" data-reveal="bottom">

          <p class="headline-sm footer-list-title">About Us</p>

          <p class="text">
            A solution for Accessible Healthcare in Unknown Places !!!
          </p>

          <address class="address">
            <ion-icon name="map-outline"></ion-icon>

            <span class="text">
              2416 Mapleview Drive <br>
              Tampa, FL 33634
            </span>
          </address>

        </div>

        <ul class="footer-list" data-reveal="bottom">

          <li>
            <p class="headline-sm footer-list-title">Services</p>
          </li>

          <li>
            <a href="./healthcard.html" class="text footer-link">healthcard</a>
          </li>

          <li>
            <a href="./medicine.html" class="text footer-link">Medicine</a>
          </li>

          <li>
            <a href="./laboratory.html" class="text footer-link">Laboratory</a>
          </li>

          <li>
            <a href="./onlineconstultation.html" class="text footer-link">Online Constultation</a>
          </li>



        </ul>

        <ul class="footer-list" data-reveal="bottom">

          <li>
            <p class="headline-sm footer-list-title">Useful Links</p>
          </li>

          <li>
            <a href="pp.html" class="text footer-link">Privacy policy</a>
          </li>

          <li>
            <a href="joinasdoctor.html" class="text footer-link">Join as a Doctor</a>
          </li>

          <li>
            <a href="termsandconditions.html" class="text footer-link">Terms & Conditions</a>
          </li>

        </ul>

        <div class="footer-list" data-reveal="bottom">

          <p class="headline-sm footer-list-title">Subscribe</p>

          <form action="" class="footer-form">
            <input type="email" name="email" placeholder="Email" class="input-field title-lg">

            <button type="submit" class="btn has-before title-md">Subscribe</button>
          </form>

          <p class="text">
            Get the latest updates via email. Any time you may unsubscribe
          </p>

        </div>

      </div>

      <div class="footer-bottom">

        <p class="text copyright">
          &copy; Medico Plus 2024 | All Rights Reserved by Medico Plus
        </p>

        <ul class="social-list">

          <li>
            <a href="https://www.facebook.com" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://twitter.com" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.google.com" class="social-link">
              <ion-icon name="logo-google"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://in.pinterest.com" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </footer>

  




  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>