{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Medico Plus - home</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'assets/favicon.svg' %}" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Rubik:wght@400;500;700&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'assets/images/hero-banner.png' %}">
  <link rel="preload" as="image" href="{% static 'assets/images/hero-bg.png' %}">

</head>

<body id="top">

  <!-- 
    - #PRELOADER
  -->

  <div class="preloader" data-preloader>
    <div class="circle"></div>
  </div>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="{% url 'home' %}" class="logo">
        <img src="{% static 'assets/images/Medicoplus_logo.png' %}" width="136" height="46" alt="Medico Plus home">
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'assets/images/Medicoplus_logo.png' %}" width="136" height="46" alt="Medico Plus home">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{% url 'home' %}" class="navbar-link title-md">Home</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'doctors' %}" class="navbar-link title-md">Doctors</a>
          </li>

          <li class="navbar-item">
            <a href="#section_article" class="navbar-link title-md">Articles</a>
          </li>

          <li class="navbar-item">
            <a href="#section_page" class="navbar-link title-md">Services</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'login' %}" class="navbar-link title-md">Add account</a>
          </li>

        </ul>

        <ul class="social-list">

          <li>
            <a href="https://twitter.com" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.facebook.com" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://in.pinterest.com" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://instagram.com" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline"></ion-icon>
      </button>
      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>

  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" style="background-image: url('{% static 'assets/images/hero-bg.png' %}');" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle has-before" data-reveal="left">Welcome to Medico Plus</p>

            <h2 class="headline-lg hero-title" data-reveal="left">
              It's not about hospitals, 
              It's all about doctors who can treat <br> you well !!!
            </h2>

            <div class="hero-card" data-reveal="left">

              <p class="title-lg card-text">
                Search doctors. clinics. hospitals. etc.
              </p>

              <div class="wrapper">

                <div class="input-wrapper title-lg">
                  <input type="text" name="location" placeholder="Locations" class="input-field">
                  <ion-icon name="location"></ion-icon>
                </div>

                <div>
                  <a href="{% url 'doctors' %}">
                    <button class="btn has-before">
                      <ion-icon name="search"></ion-icon>
                      <span class="span title-md"> Find Now</span>
                    </button>
                  </a>
                </div>

              </div>
              
            </div>

          </div>

          <figure class="hero-banner" data-reveal="right">
            <img src="{% static 'assets/images/hero-banner.png' %}" width="590" height="517" loading="eager" alt="hero banner"
              class="w-100">
          </figure>

        </div>
      </section>

      <!-- 
        - #SERVICE
      -->

      <section class="service" id="section_page" aria-label="service">
        <div class="container">
          
          <ul class="service-list">

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="{% static 'assets/images/Untitled design (3).png' %}" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="{% url 'healthcard' %}">Health Card</a>
                </h3>

                <p class="card-text">
                  Providing you with all in one access facility.
                </p>
                <a href="{% url 'healthcard' %}">
                  <button class="btn-circle" aria-label="read more about psychiatry">
                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                  </button>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="{% static 'assets/images/medic.png' %}" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="{% url 'medicine' %}">Medicine</a>
                </h3>

                <p class="card-text">
                  Easy accessability to all pharmaceutical products.
                </p>
                <a href="{% url 'medicine' %}">
                  <button class="btn-circle" aria-label="read more about Gynecology">
                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                  </button>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="{% static 'assets/images/lab.png' %}" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="{% url 'laboratory' %}">Laboratory</a>
                </h3>

                <p class="card-text">
                  Empowering you to select the best suited laboratories.
                </p>
                <a href="{% url 'laboratory' %}">
                  <button class="btn-circle" aria-label="read more about Pulmonology">
                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                  </button>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="{% static 'assets/images/vr.png' %}" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="{% url 'onlineconsultation' %}">Online Consultation</a>
                </h3>

                <p class="card-text">
                    Connects you with experienced and qualified experts.
                </p>
                <a href="{% url 'onlineconsultation' %}">
                  <button class="btn-circle" aria-label="read more about Orthopedics">
                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                  </button>
                </a>

              </div>
            </li>

          </ul>

        </div>
      </section>

      <!-- 
        - #ABOUT
      -->

      <section class="section about" aria-labelledby="about-label">
        <div class="container">

          <div class="about-content">

            <p class="section-subtitle title-lg has-after" id="about-label" data-reveal="left">About Us</p>

            <h2 class="headline-md" data-reveal="left">Let's see</h2>

            <p class="section-text" data-reveal="left">
              Introducing Medico Plus, your gateway to quality healthcare services in unfamiliar territories. In moments of urgency or uncertainty, finding reliable medical assistance can be daunting. Our platform revolutionizes this experience by seamlessly connecting users with experienced and available doctors, regardless of their location. Say goodbye to delays and subpar care – with Medico Plus, help is just a click away.

              Our user-friendly portal ensures accessibility for all, offering multilingual support to cater to diverse needs. Whether you're traveling abroad or settling in a new area, access to healthcare shouldn't be a challenge. That's why we provide each user with a personalized medical card, containing their complete medical history. This card not only streamlines appointments but also facilitates medication purchases at pharmacies.
            </p>

            <div class="wrapper">
              <ul class="about-list">
                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                  <span class="span">Personalized Health care</span>
                </li>
                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                  <span class="span">Get Medicines</span>
                </li>
                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                  <span class="span">Get instant report</span>
                </li>
                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                  <span class="span">Save your time</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- 
        - #LISTING
      -->

      <section class="section listing" aria-labelledby="listing-label">
        <div class="container">
          <ul class="grid-list">
            <li>
              <p class="section-subtitle title-lg" id="listing-label" data-reveal="left">Doctors Listing</p>
              <h2 class="headline-md" data-reveal="left">Browse by specialist</h2>
            </li>
            <li>
              <a href="{% url 'psychiatry' %}">
                <div class="listing-card" data-reveal="bottom">
                  <div class="card-icon">
                    <img src="{% static 'assets/images/icon-1.png' %}" width="71" height="71" loading="lazy" alt="icon">
                  </div>
                  <div>
                    <h3 class="headline-sm card-title">Psychiatry</h3>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="{% url 'gynecology' %}">
                <div class="listing-card" data-reveal="bottom">
                  <div class="card-icon">
                    <img src="{% static 'assets/images/icon-2.png' %}" width="71" height="71" loading="lazy" alt="icon">
                  </div>
                  <div>
                    <h3 class="headline-sm card-title">Gynecology</h3>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="{% url 'pulmonology' %}">
                <div class="listing-card" data-reveal="bottom">
                  <div class="card-icon">
                    <img src="{% static 'assets/images/icon-4.png' %}" width="71" height="71" loading="lazy" alt="icon">
                  </div>
                  <div>
                    <h3 class="headline-sm card-title">Pulmonology</h3>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="{% url 'orthopedics' %}">
                <div class="listing-card" data-reveal="bottom">
                  <div class="card-icon">
                    <img src="{% static 'assets/images/icon-5.png' %}" width="71" height="71" loading="lazy" alt="icon">
                  </div>
                  <div>
                    <h3 class="headline-sm card-title">Orthopedics</h3>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="{% url 'pediatrics' %}">
                <div class="listing-card" data-reveal="bottom">
                  <div class="card-icon">
                    <img src="{% static 'assets/images/icon-6.png' %}" width="71" height="71" loading="lazy" alt="icon">
                  </div>
                  <div>
                    <h3 class="headline-sm card-title">Pediatrics</h3>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="{% url 'osteology' %}">
                <div class="listing-card" data-reveal="bottom">
                  <div class="card-icon">
                    <img src="{% static 'assets/images/icon-7.png' %}" width="71" height="71" loading="lazy" alt="icon">
                  </div>
                  <div>
                    <h3 class="headline-sm card-title">Osteology</h3>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <!-- 
        - #BLOG
      -->

      <section class="section blog" id="section_article" aria-labelledby="blog-label" >
        <div class="container">
          <p class="section-subtitle title-lg text-center" id="blog-label" data-reveal="bottom">
            News & Article
          </p>
          <h2 class="section-title headline-md text-center" data-reveal="bottom">Latest Articles</h2>
          <ul class="grid-list">
            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom">
                <div class="meta-wrapper">
                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>
                    <span class="span">By Admin</span>
                  </div>
                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>
                    <span class="span">Specialist</span>
                  </div>
                </div>
                <h3 class="headline-sm card-title">Eating a dozen eggs per week may not affect your cholesterol, study suggests</h3>
                <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>
                <p class="card-text">
                  Recent study results researchers are presenting at the American College of Cardiology’s Annual Scientific Session suggest that eating a dozen fortified eggs a week does not have a significant impact on cholesterol compared to eating two or fewer eggs a week
                </p>
                <a href="{% url 'blog1' %}" class="btn-text title-lg">Read More</a>
              </div>
            </li>

            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom">
                <div class="meta-wrapper">
                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>
                    <span class="span">By Admin</span>
                  </div>
                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>
                    <span class="span">Specialist</span>
                  </div>
                </div>
                <h3 class="headline-sm card-title">Heavy drinking may significantly raise heart disease risk, especially for females</h3>
                <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>
                <p class="card-text">
                  Cisgender womenTrusted Source are at a higher risk for developing coronary heart disease than men due to size and structural differences in the heart and hormonal changes that happen when a woman ages
                </p>
                <a href="{% url 'blog2' %}" class="btn-text title-lg">Read More</a>
              </div>
            </li>

            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom">
                <div class="meta-wrapper">
                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>
                    <span class="span">By Admin</span>
                  </div>
                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>
                    <span class="span">Specialist</span>
                  </div>
                </div>
                <h3 class="headline-sm card-title">Getting too little sleep linked to high blood pressure in a body
                </h3>
                <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>
                <p class="card-text">
                  Recent data indicates that sleeping less than seven hours per day increases the likelihood of developing high blood pressure in the future. Adequate sleep is crucial for maintaining cardiovascular health and preventing hypertension
                </p>
                <a href="{% url 'blog3' %}" class="btn-text title-lg">Read More</a>
              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>

  <!-- 
    - #FOOTER
  -->

  <footer class="footer" style="background-image: url('{% static 'assets/images/footer-bg.png' %}');">
    <div class="container">

      <div class="section footer-top">

        <div class="footer-brand" data-reveal="bottom">

          <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'assets/images/Medicoplus_logo.png' %}" width="136" height="46" loading="lazy" alt="Doclab home">
          </a>

          <ul class="contact-list has-after">

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="mail-open-outline"></ion-icon>
              </div>

              <div>
                <p>
                  Main Email : <a href="mailto:contact@medicoplus.com" class="contact-link">contact@medicoplus.com</a>
                </p>

                <p>
                  Inquiries : <a href="mailto:Info@medicoplus.com" class="contact-link">Info@medicoplus.com</a>
                </p>
              </div>

            </li>

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <div>
                <p>
                  Office Telephone : <a href="tel:0029129102320" class="contact-link">0029129102320</a>
                </p>

                <p>
                  Mobile : <a href="tel:000232439493" class="contact-link">000 2324 39493</a>
                </p>
              </div>

            </li>

          </ul>

        </div>

        <div class="footer-list" data-reveal="bottom">

          <p class="headline-sm footer-list-title">About Us</p>

          <p class="text">
            A solution for Accessible Healthcare in Unknown Places !!!
          </p>

          <address class="address">
            <ion-icon name="map-outline"></ion-icon>
            <span class="text">
              2416 Mapleview Drive <br>
              Tampa, FL 33634
            </span>
          </address>

        </div>

        <ul class="footer-list" data-reveal="bottom">

          <li>
            <p class="headline-sm footer-list-title">Services</p>
          </li>

          <li>
            <a href="{% url 'healthcard' %}" class="text footer-link">Health Card</a>
          </li>

          <li>
            <a href="{% url 'medicine' %}" class="text footer-link">Medicine</a>
          </li>

          <li>
            <a href="{% url 'laboratory' %}" class="text footer-link">Laboratory</a>
          </li>

          <li>
            <a href="{% url 'onlineconsultation' %}" class="text footer-link">Online Consultation</a>
          </li>

        </ul>

        <ul class="footer-list" data-reveal="bottom">

          <li>
            <p class="headline-sm footer-list-title">Useful Links</p>
          </li>

          <li>
            <a href="{% url 'privacy_policy' %}" class="text footer-link">Privacy policy</a>
          </li>

          <li>
            <a href="{% url 'join_as_doctor' %}" class="text footer-link">Join as a Doctor</a>
          </li>

          <li>
            <a href="{% url 'terms_and_conditions' %}" class="text footer-link">Terms & Conditions</a>
          </li>

        </ul>

        <div class="footer-list" data-reveal="bottom">

          <p class="headline-sm footer-list-title">Subscribe</p>

          <form action="" class="footer-form">
            <input type="email" name="email" placeholder="Email" class="input-field title-lg">
            <button type="submit" class="btn has-before title-md">Subscribe</button>
          </form>

          <p class="text">
            Get the latest updates via email. Any time you may unsubscribe
          </p>

        </div>

      </div>

      <div class="footer-bottom">

        <p class="text copyright">
          &copy; Medico Plus 2024 | All Rights Reserved by Medico Plus
        </p>

        <ul class="social-list">

          <li>
            <a href="https://www.facebook.com" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://twitter.com" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.google.com" class="social-link">
              <ion-icon name="logo-google"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://in.pinterest.com" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </footer>

  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up"></ion-icon>
  </a>

  <!-- 
    - custom js link
  -->
  <script src="{% static 'assets/js/script.js' %}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
